*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
.settings
.cache
target/
out/
.project
.classpath
.scala_dependencies
**/scalastyle-output.xml
dependency-reduced-pom.xml
javastyle_config.xml
**/.scannerwork
